<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Cree un nouveau gossip</a>
    <br>
    <p> lien de tout les gossips</p>
    <% gossips.each_with_index do |gossip, i| %>
      <li>Le potin de <a href="/gossips/<%=i%>"> <%= gossip.auteur %> </a></li>
    <% end %>
    <a href="/gossips/new/">Go créer des nouveaux potins !</a>
  </body>
</html>