<html>
   <head>
      <title>The Gossip Project</title>
   </head>
   <body>
   <h1>PAGE POTIN</h1>
      <p> Voici la page du potin n°<%= id %></p>
      <p>Son auteur : <%=gossips.auteur%></p>
      <p>Le contenu du potin : <%=gossips.content%></p>
      <br>
      <a href= "\">Lien pour revenir à la page des potins</a>

   </body>
</html>